{{> header}}


<div class="user-page-container admin-page-container">

  {{> adminmenu}}

  <div class="tab-content">
    <div class="content-header">
      <div class="title">Termékek</div>
      <div class="link">
        <a class="btn-1" href="/admin/products/upload">
          <i class="material-icons">add</i> Új termék feltöltése</a>
      </div>
    </div>
    <div class="lines-container">

      {{#each products}}
			<div class="line" data-id="{{id}}">
				<div class="box w-30"><span class="bold">{{id}}</span>&nbsp&nbsp&nbsp<p>{{gyarto}} {{termek}}</p></div>
				<div class="box status w-10"><i class="material-icons status">info</i><p>{{#is aktiv 1}}{{../allapot}}{{else}}Archív{{/is}}</p></div>
				<div class="box status w-10"><p>{{#is kiemelt 1}}Kiemelt{{/is}}</p></div>
				<div class="box price w-20"><p>
				{{#if akcios_ar}}<span class="line-through">{{numberFormat ar}} Ft  </span>{{/if}}
				<span class="{{#if akcios_ar}}red{{/if}}">{{#if akcios_ar}}{{numberFormat akcios_ar}}{{else}}{{numberFormat ar}}{{/if}} Ft</span></p></div>
				<div class="box w-20">
					<a class="btn-actions" tooltip="Módosítás" href="/admin/products/upload/{{id}}"><i class="material-icons">mode_edit</i></a>
					{{#is aktiv 1}}<a class="btn-actions archive" data-id="{{../id}}" tooltip="Arhiválás"><i class="material-icons">archive</i></a>{{/is}}
					{{#is aktiv 0}}<a class="btn-actions unarchive" data-id="{{../id}}" tooltip="Aktiválás"><i class="material-icons">unarchive</i></a>{{/is}}
				</div>
			</div>
      {{/each}}

      {{#if products}}
      <div class="pagination">

        <a href="/admin/products{{queryTransform query (add 'p=' pagination.prev)}}" class="prev {{#unless pagination.prev}}inactive{{/unless}}">
          <i class="material-icons">keyboard_arrow_left</i>
        </a>

        <a href="/admin/products{{queryTransform query (add 'p=' pagination.next)}}" class="next {{#unless pagination.next}}inactive{{/unless}}">
          <i class="material-icons">keyboard_arrow_right</i>
        </a>

        <div class="pagination-pages">
          <input type="number" name="p" value="{{pagination.actual}}" class="pagination-pages-input">
          <span class="pagination-pages-separator">/</span>
          <span class="pagination-pages-all">{{pagination.pages}}</span>
        </div>

      </div>
      {{/if}}
    </div>
  </div>
</div>


<script type="text/javascript" src="/javascripts/adminProducts.bundle.js"></script>


{{> footer}}