{{> header}}


<div class="user-page-container admin-page-container">

  {{> adminmenu}}

  <div class="tab-content">
    <div class="content-header">
      <div class="title">Regisztrált felhasználók</div>
      <div class="link"></div>
    </div>
    <div class="lines-container">

      {{#each users}}
      <div class="line" id="line'.$row['id'].'">
        <div class="box w-40">
          <span class="bold">{{id}}&nbsp&nbsp&nbsp</span>
          <p>{{email}}</p>
        </div>
        <div class="box w-30">
          <p>{{nev}}</p>
        </div>
        <div class="box w-20">
          <p>{{dateFormat lastlogin}}</p>
        </div>
        <div class="box w-10">

          {{#is aktiv 1}}
          <a class="btn-actions archive" data-id="{{../id}}" tooltip="Fiók inaktiválása">
            <i class="material-icons">clear</i>
          </a>
          {{/is}}
          {{#is aktiv 0}}
          <a class="btn-actions unarchive" data-id="{{../id}}" tooltip="Fiók aktiválása">
            <i class="material-icons">done</i>
          </a>
          {{/is}}

        </div>
      </div>
      {{/each}}

     {{#if users}}
      <div class="pagination">

        <a href="/admin/users{{queryTransform query (add 'p=' pagination.prev)}}" class="prev {{#unless pagination.prev}}inactive{{/unless}}">
          <i class="material-icons">keyboard_arrow_left</i>
        </a>

        <a href="/admin/users{{queryTransform query (add 'p=' pagination.next)}}" class="next {{#unless pagination.next}}inactive{{/unless}}">
          <i class="material-icons">keyboard_arrow_right</i>
        </a>

        <div class="pagination-pages">
          <input type="number" name="p" value="{{pagination.actual}}" class="pagination-pages-input">
          <span class="pagination-pages-separator">/</span>
          <span class="pagination-pages-all">{{pagination.pages}}</span>
        </div>

      </div>
      {{/if}}

    </div>
  </div>
</div>


<script type="text/javascript" src="/javascripts/adminUsers.bundle.js"></script>


{{> footer}}