{{> header }}


<div class="background auto">
  <img class="bg-image" src="/images/background.jpg"></img>
  <div class="container-1500 w-100 h-100">
    <div class="promo-container">
      <div class="promotion active" data-id="1">
        <div class="col">
          <p class="big">Professzionális monitorok</p>
          <p class="small">gamereknek, designereknek</p>
        </div>
        <div class="col"></div>
      </div>
      <div class="promotion" data-id="2">
        <div class="col">
          <img src="/images/spring_sale.png" alt="spring sale" class="w-80">
        </div>
        <div class="col">
          <p class="big">Tavaszi árzuhanás!</p>
          <p class="small">Tekintsd meg akciós termékeinket.</p>
        </div>
      </div>
      <div class="arrow left">
        <i class="material-icons clickEffect">keyboard_arrow_left</i>
      </div>
      <div class="arrow right">
        <i class="material-icons clickEffect">keyboard_arrow_right</i>
      </div>
      <div class="load-progress active1"></div>
    </div>
  </div>
</div>

<div class="categories-container" data-simplebar>

  {{#each manufacturers}}
  <a class="category" href="/products?manufacturer={{name}}">
    <img src="/images/manufacturers/{{kep}}" />
  </a>
  {{/each}}

</div>

<div class="bg-light">
  <div class="container-1500">

    <div class="products-bar-wrapper kiemelt">
      <div class="productsBar">
        <div class="title">
          <div class="badge kiemelt">
            <p></p>
          </div>
          <h2 class="extra-bold">Kiemelt</h2>
        </div>
        <div class="boxContainer" id="mainProducts">

          {{#each mainProducts}}
          <div class="item kiemelt" id="item{{id}}">
            <p class="kiemelt-text">kiemelt</p>
            <a href="/products/{{id}}">
              <img class="itemImg" id="itemImg{{ id }}" src="/images/products/{{kep1}}" />
              <div class="productDescription">
                <div class="top">
                  {{#if akcios_ar}}
                  <span class="price discounted">{{numberFormat ar}} Ft</span>
                  <span class="price">{{ numberFormat akcios_ar}} Ft</span>
                  {{else}}
                  <span class="price">{{ numberFormat ar}} Ft</span>
                  {{/if}}
                </div>
                <div class="bottom">
                  <div class="title">{{gyarto}} {{termek}}</div>
                </div>
              </div>
            </a>
          </div>
          {{/each}}

        </div>
      </div>
    </div>

    <div class="news-container-outer">
      <div class="top">
        <h2 class="extra-bold">Magazin</h2>
      </div>

      <div class="news-container">

        {{#each news}}
        {{#is order 2}}
        <div class="news-col">
        {{/is}}
        {{#is order 5}}
        <div class="news-col-small">
        {{/is}}

          <div class="new {{#is order 1}}big{{/is}}">
            <div class="share-button clickEffect">
              <i class="material-icons">share</i>
            </div>
            <a href="/news/{{id}}">
              <div class="new-top-image">
                <div class="date">
                  <p>{{dateFormat datum}}</p>
                </div>
                <img src="/images/news/{{#if kep}}{{kep}}{{else}}sample.png{{/if}}" alt="Kép" />
              </div>
              <div class="new-data-container">
                <div class="new-title">
                  {{cim}}
                </div>
                <div class="date-small">
                  <p>{{dateFormat datum}}</p>
                </div>
                <div class="new-text">{{stripTags tartalom}}</div>
              </div>
            </a>
          </div>
        {{#is order 4}}
        </div>
        {{/is}}
        {{#is order 8}}
        </div>
        {{/is}}

        {{/each}}

      </div>
      <div class="bottom">
        <a class="btn-1" href="/news">Korábbi hírek</a>
      </div>
    </div>
  </div>
</div>

<!-- products-bar -->
<div class="products-bar-wrapper">

  <div class="productsBar">
    <div class="title">
      <div class="badge discount">
        <p></p>
      </div>
      <h2 class="extra-bold">Akció</h2>
    </div>
    <div class="boxContainer" id="saleProducts">

      {{#each saleProducts}}
      <div class="item">
        <div class="badge inverse discount">
          <p>{{savePercent ar akcios_ar}}</p>
        </div>
        <a href="/products/{{id}}">
          <img class="itemImg" src="/images/products/{{kep1}}" />
          <div class="productDescription">
            <div class="top">
              {{#if akcios_ar}}
              <span class="price discounted">{{numberFormat ar}} Ft</span>
              {{/if}}
              <span class="price">{{ numberFormat akcios_ar}} Ft</span>
            </div>
            <div class="bottom">
              <div class="title">{{gyarto}} {{termek}}</div>
            </div>
          </div>
        </a>
      </div>
      {{/each}}

    </div>
  </div>

  <div class="line"></div>

  <div class="productsBar">
    <div class="title">
      <div class="badge new">
        <p></p>
      </div>
      <h2 class="extra-bold">Újdonság</h2>
    </div>
    <div class="boxContainer" id="newProducts">

      {{#each newProducts}}
      <div class="item">
        <a href="/products/{{id}}">
          <img class="itemImg" src="/images/products/{{kep1}}" />
          <div class="productDescription">
            <div class="top">
              {{#if akcios_ar}}
              <span class="price discounted">{{numberFormat ar}} Ft</span>
              <span class="price">{{ numberFormat akcios_ar}} Ft</span>
              {{else}}
              <span class="price">{{ numberFormat ar}} Ft</span>
              {{/if}}
            </div>
            <div class="bottom">
              <div class="title">{{gyarto}} {{termek}}</div>
            </div>
          </div>
        </a>
      </div>
      {{/each}}

    </div>
  </div>

</div>
<!-- products-bar end -->

<div class="white-wrapper">
  <div class="container-1500">
    <section class="main-page-bottom">
      <div class="line">
        <div class="text">
          <h1>Rendelnél? Kérdésed&nbsp;van?</h1>
          <h2>Keress minket bátran!</h2>
        </div>
        <a class="btn-1" href="/contact">Elérhetőségeink</a>
      </div>
    </section>
  </div>
</div>

<script type="text/javascript" src="/javascripts/home.bundle.js"></script> {{> footer }}