{{> header }}


<div class="background auto">
  <form method="get" action="/products" class="searchBox" class="clickEffect">
    <div class="zoomIcon">
      <i class="material-icons" style="font-size: 27px">search</i>
    </div>
    <input type="text" id="search-main" name="search" class="search" placeholder="Keresés" autocomplete="off" />
    <input type="submit" class="searchBtn" />
    <div class="results hide" id="search-result">
      <div class="content">
        <a class="row none">
          <i class="material-icons">info_outline</i>
          Keressen rá kulcsszavakra
        </a>
      </div>
      <div class="loader"></div>
    </div>
  </form>
  <div class="bg-color">
    <div class="box box-1"></div>
    <div class="box box-2"></div>
    <div class="box box-3"></div>
    <div class="box box-4"></div>
    <div class="box box-5"></div>
  </div>
  <div class="promo-container">
    <div class="promotion active" data-id="1">
      <img src="/images/slide1.png" alt="">
    </div>
    <div class="promotion" data-id="2">
      <img src="/images/slide2.png" alt="">
    </div>
    <div class="promotion" data-id="3">
      <img src="/images/slide3.png" alt="">
    </div>
    <div class="arrow left clickEffect">
      <i class="material-icons">keyboard_arrow_left</i>
    </div>
    <div class="arrow right clickEffect">
      <i class="material-icons">keyboard_arrow_right</i>
    </div>
    <div class="load-progress active1"></div>
  </div>
</div>
<div class="container-1500">
  <div class="half-container half-container-main">
    <div class="categories-mobile-btn-wrapper">
      <div class="categories-mobile-btn btn-1">Gyártók
        <i class="material-icons">expand_more</i>
      </div>
      <form method="GET" action="/products" id="cat-form">
        <select name="manufacturer" id="cat-select">
          <option value="all">Összes</option>
          {{#each manufacturers}}
          <option value="{{name}}">{{name}}</option>
          {{/each}}
        </select>
      </form>
    </div>

    <div class="categories-container">
      <div class="header-text">Gyártók</div>

      {{#each manufacturers}}
      <a class="category" href="/products?manufacturer={{name}}">
        <img src="/images/manufacturers/{{kep}}" />
      </a>
      {{/each}}

    </div>
    <div class="news-container">
      <div class="top">
        <div class="header-text">Hírek / Tesztek</div>
      </div>
      <div class="news">

        {{#each news}}
        <div class="new">
          <div class="new-top-image">
            <div class="share-button clickEffect">
              <i class="material-icons">share</i>
            </div>
            <img src="images/news/{{#if kep}}{{kep}}{{else}}sample.png{{/if}}" alt="Kép" />
          </div>
          <div class="new-title">
            <div class="left">
              <div class="content">{{cim}}</div>
            </div>
            <div class="right">{{dateFormat datum}}</div>
          </div>
          <div class="new-text">{{stripTags tartalom}}</div>
          <div class="new-bottom">
            <a class="btn-more clickEffect" href="/news/{{id}}">Tovább</a>
          </div>
        </div>
        {{/each}}

      </div>
      <div class="bottom">
        <a class="btn-1" href="/news">Korábbi hírek</a>
      </div>
    </div>
  </div>
</div>

<!-- products-bar -->
<div class="products-bar-wrapper">

  <div class="productsBar" id="container1">
    <div class="title">
      <div class="badge discount">
        <p></p>
      </div>
      <h2>Akciós termékek</h2>
    </div>
    <div class="boxContainer" id="boxContainer2">

      {{#each saleProducts}}
      <div class="item" id="item{{id}}">
        <div class="discount">{{savePercent ar akcios_ar}}%</div>
        <a href="/products/{{id}}">
          <img class="itemImg" id="itemImg{{ id }}" src="/images/products/{{kep1}}" />
          <div class="productDescription">
            <div class="top">
              {{#if akcios_ar}}
              <span class="price discounted">{{numberFormat ar}} Ft</span>
              {{/if}}
              <span class="price">{{ numberFormat akcios_ar}} Ft</span>
            </div>
            <div class="bottom">
              <div class="title">{{gyarto}} {{termek}}</div>
            </div>
          </div>
        </a>
      </div>
      {{/each}}

    </div>
  </div>

  <div class="line"></div>

  <div class="productsBar" id="container2">
    <div class="title">
      <div class="badge new">
        <p></p>
      </div>
      <h2>Legújabb termékek</h2>
    </div>
    <div class="boxContainer" id="boxContainer2">

      {{#each newProducts}}
      <div class="item" id="item{{id}}">
        <a href="/products/{{id}}">
          <img class="itemImg" id="itemImg{{ id }}" src="/images/products/{{kep1}}" />
          <div class="productDescription">
            <div class="top">
              {{#if akcios_ar}}
              <span class="price discounted">{{numberFormat ar}} Ft</span>{{/if}}
              <span class="price">{{ numberFormat ar }} Ft</span>
            </div>
            <div class="bottom">
              <div class="title">{{gyarto}} {{termek}}</div>
            </div>
          </div>
        </a>
      </div>
      {{/each}}

    </div>
  </div>

</div>
<!-- products-bar end -->

<div class="white-wrapper">
  <div class="container-1500">
    <section class="main-page-bottom">
      <div class="line">
        <div class="text">
          <h1>Rendelnél? Kérdésed&nbsp;van?</h1>
          <h2>Keress minket bátran!</h2>
        </div>
        <a class="btn-1" href="/contact">Elérhetőségeink</a>
      </div>
    </section>
  </div>
</div>

<script type="text/javascript" src="/javascripts/home.bundle.js"></script>

{{> footer }}