{{> header}}


<article class="article-new">
  <div class="top-bar">
    <img alt="hir_kep" src="/images/news/{{#if new.kep}}{{new.kep}}{{else}}sample.png{{/if}}" />
    <div class="container-1200 flex flex-column justify-content-center h-100">
      <section class="title">
        <h1>{{new.cim}}</h1>
      </section>
      <section class="description">
        <div class="col">
          <i class="material-icons">account_circle</i>{{new.szerzo}}</div>
        <div class="col">
          <i class="material-icons">alarm</i>{{dateFormat new.datum}}</div>
      </section>
      <div class="share-button clickEffect">
        <i class="material-icons">share</i>
      </div>
    </div>
  </div>
  <section class="content container-1200">{{{new.tartalom}}}</section>
</article>
<div class="half-container-bottom hide-1200"></div>


{{> footer}}