{{> header}}


<div class="container-900">
  <article class="article-new">

    {{#each news}}
    <a class="row" href="/news/{{id}}">
      <div class="left">
        <img alt="news_image" src="/images/news/{{#if kep}}{{kep}}{{else}}sample.png{{/if}}" />
      </div>
      <div class="right">
        <div class="top">
          <div class="title">
            <h2>{{cim}}</h2>
          </div>
          <div class="description">
            <div class="col">
              <i class="material-icons">account_circle</i>{{szerzo}}</div>
            <div class="col">
              <i class="material-icons">alarm</i>{{dateFormat datum}}</div>
            <div class="col">
              <div class="more">Tovább
                <i class="material-icons">arrow_forward</i>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="content">{{stripTags tartalom}}</div>
        </div>
      </div>
    </a>
    {{/each}}

  </article>

  {{#if news}}
  <div class="pagination">

    <a href="/news{{queryTransform query (add 'p=' pagination.prev)}}" class="prev {{#unless pagination.prev}}inactive{{/unless}}">
      <i class="material-icons">keyboard_arrow_left</i>
    </a>

    <a href="/news{{queryTransform query (add 'p=' pagination.next)}}" class="next {{#unless pagination.next}}inactive{{/unless}}">
      <i class="material-icons">keyboard_arrow_right</i>
    </a>

    <div class="pagination-pages">
      <input type="number" name="p" value="{{pagination.actual}}" class="pagination-pages-input">
      <span class="pagination-pages-separator">/</span>
      <span class="pagination-pages-all">{{pagination.pages}}</span>
    </div>

  </div>
  {{/if}}

</div>


{{> footer}}